
<!-- product1 data -->
<div class="title" style="color: rgb(20, 20, 20);"> 
  <h2>Mobiles</h2>
</div>
<div class="product-list">
   <div class="product-card" *ngFor="let product of products">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image" >
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <div class="product-price">₹{{ product.price }}</div>
        <button class="add-to-cart"><a routerLink="cart" >Add to Cart</a></button>
        <button  class="btn btn-danger" ><a routerLink="Loginauth">Buy Now</a></button>
      </div>
    </div>
  </div>
  
      

