<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a class="navbar-brand" href="#">
        <img src="https://marketplace.canva.com/EAFzjXx_i5w/1/0/1600w/canva-blue-illustrative-e-commerce-online-shop-logo-fZejT2DpGCw.jpg" alt="E-Commerce" class="navbar-logo">
      </a>
    </div>
    <div class="navbar-search">
      <input type="text" class="navbar-search-input" placeholder="Search for products, brands and more">
      <button class="navbar-search-button"><i class="fas fa-search"></i> Search</button>
    </div>
    <div class="navbar-links" [class.active]="isNavbarOpen">
      <span class="login-button" style="background-color: #1673a8;
      border-color: #1673a8;
      color: #d9be98;
      padding: 1px 8px !important;
      border-radius: 5px !important;">
        <a routerLink="Loginauth" class="btn"><i class="fas fa-user"></i> Login</a>
      </span>
      <span class="cart-button" style="background-color: #1673a8;
      border-color: #1673a8;
      color: #d9be98;
      padding: 1px 8px !important;
      border-radius: 5px !important;
      margin-left: 10px;">
        <a routerLink="cart" class="btn"><i class="fas fa-shopping-cart" ></i> Cart</a>
      </span>
    </div>
    <button class="navbar-toggler" (click)="toggleNavbar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>
