<div id="carouselExampleIndicators" style="margin-top: 1.5%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/7409480987a9a093.jpg?q=20" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/9384b37a848c5e60.jpg?q=20" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/c3c66cab3b900dd8.jpg?q=20" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div>
    <app-section1></app-section1>
  </div>